{% extends 'base.html'%}
{% block contenido %}
<body style="background-color: #dbeefc;">
  {% for Arti in articuloestudiante_list %}
  <div class="container">
    <div class="card-group mt-3">

      <div class="card text-center border-info">
        <div class="card-body">
          <p class="card-text"><b> Título del artículo: </b>{{Arti.titulo}}</p>
          <p class="card-text"><b> Descripción: </b>{{Arti.descripcion}}</p>
          <p class="card-text"><b> Persona que autoriza: </b>{{Arti.autoriza}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <h3 style="font-family: 'fangsong', fangsong, monospace; color: rgb(17, 70, 107);">Crear nuevo artículo</h3>
  <a class="btn btn-info" href="{% url 'home:crearArtapp'%}">Nuevo</a>
  <h3 style="font-family: 'fangsong', fangsong, monospace; color: rgb(17, 70, 107);">Ver comentarios de artículos</h3>
  <a class="btn btn-info" href="{% url 'home:verComentapp'%}">Ver</a>
  {% endblock %}