{% extends 'base.html'%} 
{% block titulo %}
<a href="{% url 'home:homeapp' %}">Home</a>
<a href="{% url 'home:listadoapp'%}">Estudiantes Publican</a>
<a href="{% url 'home:adminapp'%}">Estudiantes Autorizan</a>
<a href="{% url 'home:acercaDeapp'%}">Articulos</a>
<a href="{% url 'home:Pubapp'%}">Publicaciones</a>
<a href="{% url 'home:RegistroApp'%}">Registrar Usuario</a>
{% endblock %} 
{% block contenido %}
  <body style="background-color: #dbeefc;"> 
  <h3>Crear nuevo articulo</h3>
  <a class="btn btn-info" href="{% url 'home:crearArtapp'%}">Nuevo</a>
  <h4>Agregar un comentario</h4>
  <a class="btn btn-info" href="{% url 'home:crearComeapp'%}">Agregar</a>
{% endblock %}