{% extends 'base.html'%} 
{% block titulo %}
<a href="{% url 'home:homeapp' %}">Home</a>
<a href="{% url 'home:listadoapp'%}">Estudiantes Publican</a>
<a href="{% url 'home:adminapp'%}">Estudiantes Autorizan</a>
<a href="{% url 'home:acercaDeapp'%}">Articulos</a>
<a href="{% url 'home:Pubapp'%}">Publicaciones</a>
<a href="{% url 'home:RegistroApp'%}">Registrar Usuario</a>
{% endblock %} 
{% block contenido %}
<center>
  <h1 style="font-family: 'fangsong', fangsong, monospace; color: rgb(49, 126, 181);">Formulario para crear una publicacion</h1>
</center>
  <body style="background-color: #dbeefc;"> 
    <form method="POST" class="form-group">
        {% csrf_token %}
        Articulo{{ form.articulo}}
        Publica{{ form.publica }}
        <input type="submit" name="Guardar" class="btn btn-dark btn-sm">
    </form>
    <a class="btn btn-info" href="{% url 'home:Pubapp'%}">Regresar</a>
{% endblock %}