{% extends 'base.html'%} 
{% block contenido %}
<center>
  <h1 style="font-family: 'fangsong', fangsong, monospace; color: rgb(49, 126, 181);">Listado de Estudiantes que publican</h1>
</center>
  <center><h2 style="font-family: 'fangsong', fangsong, monospace; color: rgb(42, 97, 136);">Estos son los estudiantes que publican artículos.</h2></center>
  <body style="background-color: #dbeefc;"> 
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET">
      {% csrf_token %}
      <div class="input-group">
        <input class="form-control bg-light border-0 small" placeholder="Buscar por nombre" type="text" name="nombre" value="{{request.GET.nombre}}">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm">Buscar</i>
          </button>
        </div>
      </div>
    </form>
  <table class="table table-responsive">
    <tr>
      <td><b>Carnet<b></td>
      <td><b>Nombre<b></td>
      <td><b>Apellido<b></td>
      <td><b>Acciones<b></td>
    </tr>
  {% for Publicar in estudiantepublicaciones_list %}
    <tr>
      <td>{{Publicar.carnet}}</td>
      <td>{{Publicar.nombre}}</td>
      <td>{{Publicar.apellido}}</td>
      <td><a class="btn btn-info btn-sm" href="{% url 'home:detallesEPapp' Publicar.id%}">Ver</a></td>
      <td><a href="{% url 'home:editarEPapp' Publicar.id%}" class="btn btn-dark btn-sm">Editar</td>
    </tr>
      {% endfor %}    
  </table>
<h3>Insertar nuevo Estudiante</h3>
<a class="btn btn-info" href="{% url 'home:crearEstPapp'%}">Insertar</a>
{% endblock %}
