{% extends 'base.html'%}
{% block contenido %}
  <h1 style="font-family: 'fangsong', fangsong, monospace; color: rgb(49, 126, 181);">Publicaciones</h1>
  <body style="background-color: #dbeefc;"> 
    {% for Publicacion in publicaciones_list %}
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text"><b>Articulo: </b>{{Publicacion.articulo}}</p>
          <p class="card-text"><b>Publica: </b>{{Publicacion.publica}}</p>
        </div>
      </div>
      {% endfor %}
    <h4>Crear nueva publicacion</h4>
    <a class="btn btn-info" href="{% url 'home:crearPubapp'%}">Crear</a>
{% endblock %}